[data-new-ui-theme="dark--cold"] {
  --red1: #FFF1F0;
  --red2: #FFC8C5;
  --red3: #FF9993;
  --red4: #FF4A40;
  --red5: #FF3B30;
  --red6: #C22D25;
  --red7: #851F19;
  --red8: #47100D;

  --orange1: #FFF7EC;
  --orange2: #FFE1B8;
  --orange3: #FFC87A;
  --orange4: #FF9D14;
  --orange5: #FF9500;
  --orange6: #C27100;
  --orange7: #854E00;
  --orange8: #472900;

  --yellow1: #FFFBEC;
  --yellow2: #FFF1B8;
  --yellow3: #FFE47A;
  --yellow4: #FFD014;
  --yellow5: #FFCC00;
  --yellow6: #C29B00;
  --yellow7: #856A00;
  --yellow8: #473900;

  --green1: #F0FBF3;
  --green2: #C6EFD1;
  --green3: #95E2A8;
  --green4: #44CB66;
  --green5: #34C759;
  --green6: #289744;
  --green7: #1B682E;
  --green8: #0E3719;

  --mint1: #ECFBFA;
  --mint2: #B8EFED;
  --mint3: #7AE2DD;
  --mint4: #14CBC3;
  --mint5: #00C7BE;
  --mint6: #009791;
  --mint7: #006863;
  --mint8: #003735;

  --teal1: #F0F9FB;
  --teal2: #C5E9EF;
  --teal3: #93D6E2;
  --teal4: #40B6CB;
  --teal5: #30B0C7;
  --teal6: #258697;
  --teal7: #195C68;
  --teal8: #0D3137;

  --cyan1: #F0F9FD;
  --cyan2: #C6E8F8;
  --cyan3: #94D4F2;
  --cyan4: #42B3E8;
  --cyan5: #32ADE6;
  --cyan6: #2684AF;
  --cyan7: #1A5A78;
  --cyan8: #0E3040;

  --blue1: #ECF5FF;
  --blue2: #B8DAFF;
  --blue3: #7ABAFF;
  --blue4: #1484FF;
  --blue5: #007AFF;
  --blue6: #005DC2;
  --blue7: #004085;
  --blue8: #002247;

  --indigo1: #F3F2FC;
  --indigo2: #D1D0F4;
  --indigo3: #A8A7EA;
  --indigo4: #6563D9;
  --indigo5: #5856D6;
  --indigo6: #4341A3;
  --indigo7: #2E2D70;
  --indigo8: #19183C;

  --purple1: #F9F2FD;
  --purple2: #E9CFF6;
  --purple3: #D5A5EE;
  --purple4: #B560E1;
  --purple5: #AF52DE;
  --purple6: #853EA9;
  --purple7: #5B2B74;
  --purple8: #31173E;

  --pink1: #FFEFF2;
  --pink2: #FFC5D0;
  --pink3: #FF91A6;
  --pink4: #FF3D62;
  --pink5: #FF2D55;
  --pink6: #C22241;
  --pink7: #85172C;
  --pink8: #470D18;

  --brown1: #F8F6F3;
  --brown2: #E5DDD2;
  --brown3: #CEBFAB;
  --brown4: #A98E6B;
  --brown5: #A2845E;
  --brown6: #7B6448;
  --brown7: #544531;
  --brown8: #2D251A;

  --grey1: #F2F4F8;
  --grey2: #DDE1E6;
  --grey3: #C1C7CD;
  --grey4: #A2A9B0;
  --grey5: #878D96;
  --grey6: #697077;
  --grey7: #4D5358;
  --grey8: #343A3F;
  --grey9: #21272A;
  --grey10: #121619;

  --cold1: var(--grey1);
  --cold2: var(--grey2);
  --cold3: var(--grey3);
  --cold4: var(--grey4);
  --cold5: var(--grey5);
  --cold6: var(--grey6);
  --cold7: var(--grey7);
  --cold8: var(--grey8);
  --cold9: var(--grey9);
  --cold10: var(--grey10);

  --black: oklch(0% 0 0);
  --white: oklch(100% 0 0);

  // Backgrounds
  --background: var(--cold10);
  --background-secondary: var(--cold9);
  --background-hover: var(--cold9);
  --background-selected: var(--cold8);
  --background-selected-hover: var(--cold7);
  --background-high-contrast: var(--black);

  // Borders
  --border-muted: var(--cold9);
  --border: var(--cold7);
  --border-strong: var(--cold6);
  --border-inked: var(--cold1);
  --border-inverse: var(--black);
  --border-focus: var(--blue4);

  // Buttons
  --button: var(--blue4);
  --button-hover: var(--blue3);
  --button-active: var(--blue2);
  --button-disabled: var(--cold8);

  // Icons
  --icon-primary: var(--cold1);
  --icon-secondary: var(--cold4);
  --icon-disabled: var(--cold8);
  --icon-on-color: var(--white);
  --icon-inked: var(--white);

  // Links
  --link: var(--blue4);
  --link-hover: var(--blue3);
  --link-subtle: var(--cold1);
  --link-visited: var(--indigo4);

  // Support
  --support-error: var(--red4);
  --support-warning: var(--yellow4);
  --support-success: var(--green4);
  --support-info: var(--blue4);

  // Text
  --text-primary: var(--cold1);
  --text-secondary: var(--cold4);
  --text-secondary-alt: var(--cold6);
  --text-placeholder: var(--cold7);
  --text-on-color: var(--white);
  --text-error: var(--red4);
  --text-success: var(--green4);
  --text-inked: var(--white);
}