[data-new-ui-theme="light--cold"] {
  --red1: oklch(96.89% 0.0152 22.39);
  --red2: oklch(88.06% 0.0631 22.04);
  --red3: oklch(78.71% 0.1233 23.85);
  --red4: oklch(66.85% 0.2188 27.86);
  --red5: oklch(65.42% 0.2321 28.66);
  --red6: oklch(53.49% 0.1867 28.41);
  --red7: oklch(40.87% 0.1383 28.31);
  --red8: oklch(26.91% 0.0843 27.43);

  --orange1: oklch(97.94% 0.0169 76.12);
  --orange2: oklch(92.44% 0.0628 75.47);
  --orange3: oklch(86.56% 0.1144 74.96);
  --orange4: oklch(77.91% 0.1702 65.71);
  --orange5: oklch(76.52% 0.1752 62.57);
  --orange6: oklch(62.47% 0.142257 63.186);
  --orange7: oklch(47.75% 0.1069 65.23);
  --orange8: oklch(31.2% 0.0684 68.13);

  --yellow1: oklch(98.71% 0.0201 94.52);
  --yellow2: oklch(95.57% 0.0743 95.93);
  --yellow3: oklch(91.99% 0.1295 95.37);
  --yellow4: oklch(87.33% 0.176 91.91);
  --yellow5: oklch(86.52% 0.1768 90.38);
  --yellow6: oklch(70.52% 0.1441 90.64);
  --yellow7: oklch(53.55% 0.109476 91.1235);
  --yellow8: oklch(34.95% 0.0716 93.44);

  --green1: oklch(97.77% 0.0156 154.48);
  --green2: oklch(91.5% 0.0588 153.39);
  --green3: oklch(84.74% 0.1113 151.25);
  --green4: oklch(74.63% 0.183 148.25);
  --green5: oklch(73.03% 0.1944 147.44);
  --green6: oklch(59.64% 0.1556 147.67);
  --green7: oklch(45.69% 0.1169 147.76);
  --green8: oklch(29.96% 0.0699 149.05);

  --mint1: oklch(97.67% 0.0158 192.09);
  --mint2: oklch(91.4% 0.0559 193.43);
  --mint3: oklch(84.89% 0.0975 191.4);
  --mint4: oklch(76.08% 0.1293 189.71);
  --mint5: oklch(74.81% 0.1296 189.03);
  --mint6: oklch(61.02% 0.1054 189.82);
  --mint7: oklch(46.64% 0.0808 189.01);
  --mint8: oklch(30.41% 0.052376 190.8158);

  --teal1: oklch(97.6% 0.0099 212.52);
  --teal2: oklch(91.01% 0.0384 208.75);
  --teal3: oklch(83.55% 0.0693 209.91);
  --teal4: oklch(71.96% 0.1068 211.76);
  --teal5: oklch(69.98% 0.1109 212.72);
  --teal6: oklch(57.32% 0.0893 212.09);
  --teal7: oklch(43.95% 0.0672 212.18);
  --teal8: oklch(29.06% 0.0415 210.48);

  --cyan1: oklch(97.65% 0.011 225.98);
  --cyan2: oklch(91.15% 0.0418 227.91);
  --cyan3: oklch(83.73% 0.0772 228.87);
  --cyan4: oklch(72.55% 0.1259 232.84);
  --cyan5: oklch(70.68% 0.1327 233.88);
  --cyan6: oklch(57.95% 0.1068 233.26);
  --cyan7: oklch(44.23% 0.0796 233.37);
  --cyan8: oklch(29.28% 0.0484 232.3);

  --blue1: oklch(96.63% 0.0165 250.84);
  --blue2: oklch(87.61% 0.062887 250.7253);
  --blue3: oklch(77.33% 0.1193 251.31);
  --blue4: oklch(62.52% 0.2047 255.95);
  --blue5: oklch(60.28% 0.2177 257.42);
  --blue6: oklch(49.47% 0.175 256.92);
  --blue7: oklch(38.03% 0.12949 255.9238);
  --blue8: oklch(25.32% 0.0794 253.56);

  --indigo1: oklch(96.48% 0.0133 290.75);
  --indigo2: oklch(86.98% 0.0495 286.6);
  --indigo3: oklch(75.4% 0.0957 284.55);
  --indigo4: oklch(56.4% 0.1758 279.91);
  --indigo5: oklch(52.95% 0.191 278.34);
  --indigo6: oklch(43.62% 0.1538 278.81);
  --indigo7: oklch(33.98% 0.1127 279.22);
  --indigo8: oklch(23.31% 0.0672 281.07);

  --purple1: oklch(96.97% 0.0163 313.62);
  --purple2: oklch(88.81% 0.0595 314.5);
  --purple3: oklch(79.08% 0.113 313.73);
  --purple4: oklch(64.18% 0.1982 312.55);
  --purple5: oklch(61.49% 0.2129 312.41);
  --purple6: oklch(50.43% 0.1716 312.44);
  --purple7: oklch(38.87% 0.126 312.32);
  --purple8: oklch(26.16% 0.0759 313.11);

  --pink1: oklch(96.56% 0.0177 4.51);
  --pink2: oklch(87.81% 0.0675 5.89);
  --pink3: oklch(77.9% 0.1338 8.42);
  --pink4: oklch(66.26% 0.2271 15.86);
  --pink5: oklch(64.97% 0.2383 17.9);
  --pink6: oklch(53.08% 0.1924 17.29);
  --pink7: oklch(40.48% 0.1434 16.74);
  --pink8: oklch(26.78% 0.0869 14.7);

  --brown1: oklch(97.38% 0.0045 78.3);
  --brown2: oklch(90.09% 0.0172 76.1);
  --brown3: oklch(81.17% 0.0322 75.16);
  --brown4: oklch(66.26% 0.0586 73.73);
  --brown5: oklch(63.22% 0.0643 72.82);
  --brown6: oklch(51.86% 0.0506 71.83);
  --brown7: oklch(40.04% 0.0375 74.38);
  --brown8: oklch(27.01% 0.0227 75.38);

  --grey1: oklch(96.68% 0.0058 264.53);
  --grey2: oklch(90.81% 0.0081 253.86);
  --grey3: oklch(82.68% 0.0107 247.96);
  --grey4: oklch(73.14% 0.0129 248);
  --grey5: oklch(64.14% 0.0152 258.36);
  --grey6: oklch(54.16% 0.0139 248.08);
  --grey7: oklch(43.87% 0.0113 243.05);
  --grey8: oklch(34.47% 0.012 243.17);
  --grey9: oklch(26.8% 0.0103 229.31);
  --grey10: oklch(19.73% 0.0087 240.37);

  --cold1: var(--grey1);
  --cold2: var(--grey2);
  --cold3: var(--grey3);
  --cold4: var(--grey4);
  --cold5: var(--grey5);
  --cold6: var(--grey6);
  --cold7: var(--grey7);
  --cold8: var(--grey8);
  --cold9: var(--grey9);
  --cold10: var(--grey10);

  --black: oklch(0% 0 0);
  --white: oklch(100% 0 0);

  // Backgrounds
  --background: var(--white);
  --background-secondary: var(--cold1);
  --background-hover: var(--cold1);
  --background-selected: var(--cold2);
  --background-selected-hover: var(--cold3);
  --background-high-contrast: var(--white);

  // Borders
  --border-muted: var(--cold2);
  --border: var(--cold4);
  --border-strong: var(--cold6);
  --border-inked: var(--cold10);
  --border-inverse: var(--white);
  --border-focus: var(--blue5);

  // Buttons
  --button: var(--blue5);
  --button-hover: var(--blue6);
  --button-active: var(--blue7);
  --button-disabled: var(--cold4);

  // Icons
  --icon-primary: var(--cold9);
  --icon-secondary: var(--cold7);
  --icon-disabled: var(--cold4);
  --icon-on-color: var(--white);
  --icon-inked: var(--black);

  // Links
  --link: var(--blue5);
  --link-hover: var(--blue6);
  --link-subtle: var(--cold8);
  --link-visited: var(--indigo5);

  // Support
  --support-error: var(--red5);
  --support-warning: var(--yellow5);
  --support-success: var(--green5);
  --support-info: var(--blue5);

  // Text
  --text-primary: var(--cold10);
  --text-secondary: var(--cold7);
  --text-secondary-alt: var(--cold5);
  --text-placeholder: var(--cold4);
  --text-on-color: var(--white);
  --text-error: var(--red6);
  --text-success: var(--green6);
  --text-inked: var(--black);
}