
.nu-u-bg-red1 {background-color: var(--red1);}
.nu-u-bg-red2 {background-color: var(--red2);}
.nu-u-bg-red3 {background-color: var(--red3);}
.nu-u-bg-red4 {background-color: var(--red4);}
.nu-u-bg-red5 {background-color: var(--red5);}
.nu-u-bg-red6 {background-color: var(--red6);}
.nu-u-bg-red7 {background-color: var(--red7);}
.nu-u-bg-red8 {background-color: var(--red8);}

.nu-u-bg-orange1 {background-color: var(--orange1);}
.nu-u-bg-orange2 {background-color: var(--orange2);}
.nu-u-bg-orange3 {background-color: var(--orange3);}
.nu-u-bg-orange4 {background-color: var(--orange4);}
.nu-u-bg-orange5 {background-color: var(--orange5);}
.nu-u-bg-orange6 {background-color: var(--orange6);}
.nu-u-bg-orange7 {background-color: var(--orange7);}
.nu-u-bg-orange8 {background-color: var(--orange8);}

.nu-u-bg-yellow1 {background-color: var(--yellow1);}
.nu-u-bg-yellow2 {background-color: var(--yellow2);}
.nu-u-bg-yellow3 {background-color: var(--yellow3);}
.nu-u-bg-yellow4 {background-color: var(--yellow4);}
.nu-u-bg-yellow5 {background-color: var(--yellow5);}
.nu-u-bg-yellow6 {background-color: var(--yellow6);}
.nu-u-bg-yellow7 {background-color: var(--yellow7);}
.nu-u-bg-yellow8 {background-color: var(--yellow8);}

.nu-u-bg-green1 {background-color: var(--green1);}
.nu-u-bg-green2 {background-color: var(--green2);}
.nu-u-bg-green3 {background-color: var(--green3);}
.nu-u-bg-green4 {background-color: var(--green4);}
.nu-u-bg-green5 {background-color: var(--green5);}
.nu-u-bg-green6 {background-color: var(--green6);}
.nu-u-bg-green7 {background-color: var(--green7);}
.nu-u-bg-green8 {background-color: var(--green8);}

.nu-u-bg-mint1 {background-color: var(--mint1);}
.nu-u-bg-mint2 {background-color: var(--mint2);}
.nu-u-bg-mint3 {background-color: var(--mint3);}
.nu-u-bg-mint4 {background-color: var(--mint4);}
.nu-u-bg-mint5 {background-color: var(--mint5);}
.nu-u-bg-mint6 {background-color: var(--mint6);}
.nu-u-bg-mint7 {background-color: var(--mint7);}
.nu-u-bg-mint8 {background-color: var(--mint8);}

.nu-u-bg-teal1 {background-color: var(--teal1);}
.nu-u-bg-teal2 {background-color: var(--teal2);}
.nu-u-bg-teal3 {background-color: var(--teal3);}
.nu-u-bg-teal4 {background-color: var(--teal4);}
.nu-u-bg-teal5 {background-color: var(--teal5);}
.nu-u-bg-teal6 {background-color: var(--teal6);}
.nu-u-bg-teal7 {background-color: var(--teal7);}
.nu-u-bg-teal8 {background-color: var(--teal8);}

.nu-u-bg-cyan1 {background-color: var(--cyan1);}
.nu-u-bg-cyan2 {background-color: var(--cyan2);}
.nu-u-bg-cyan3 {background-color: var(--cyan3);}
.nu-u-bg-cyan4 {background-color: var(--cyan4);}
.nu-u-bg-cyan5 {background-color: var(--cyan5);}
.nu-u-bg-cyan6 {background-color: var(--cyan6);}
.nu-u-bg-cyan7 {background-color: var(--cyan7);}
.nu-u-bg-cyan8 {background-color: var(--cyan8);}

.nu-u-bg-blue1 {background-color: var(--blue1);}
.nu-u-bg-blue2 {background-color: var(--blue2);}
.nu-u-bg-blue3 {background-color: var(--blue3);}
.nu-u-bg-blue4 {background-color: var(--blue4);}
.nu-u-bg-blue5 {background-color: var(--blue5);}
.nu-u-bg-blue6 {background-color: var(--blue6);}
.nu-u-bg-blue7 {background-color: var(--blue7);}
.nu-u-bg-blue8 {background-color: var(--blue8);}

.nu-u-bg-indigo1 {background-color: var(--indigo1);}
.nu-u-bg-indigo2 {background-color: var(--indigo2);}
.nu-u-bg-indigo3 {background-color: var(--indigo3);}
.nu-u-bg-indigo4 {background-color: var(--indigo4);}
.nu-u-bg-indigo5 {background-color: var(--indigo5);}
.nu-u-bg-indigo6 {background-color: var(--indigo6);}
.nu-u-bg-indigo7 {background-color: var(--indigo7);}
.nu-u-bg-indigo8 {background-color: var(--indigo8);}

.nu-u-bg-purple1 {background-color: var(--purple1);}
.nu-u-bg-purple2 {background-color: var(--purple2);}
.nu-u-bg-purple3 {background-color: var(--purple3);}
.nu-u-bg-purple4 {background-color: var(--purple4);}
.nu-u-bg-purple5 {background-color: var(--purple5);}
.nu-u-bg-purple6 {background-color: var(--purple6);}
.nu-u-bg-purple7 {background-color: var(--purple7);}
.nu-u-bg-purple8 {background-color: var(--purple8);}

.nu-u-bg-pink1 {background-color: var(--pink1);}
.nu-u-bg-pink2 {background-color: var(--pink2);}
.nu-u-bg-pink3 {background-color: var(--pink3);}
.nu-u-bg-pink4 {background-color: var(--pink4);}
.nu-u-bg-pink5 {background-color: var(--pink5);}
.nu-u-bg-pink6 {background-color: var(--pink6);}
.nu-u-bg-pink7 {background-color: var(--pink7);}
.nu-u-bg-pink8 {background-color: var(--pink8);}

.nu-u-bg-brown1 {background-color: var(--brown1);}
.nu-u-bg-brown2 {background-color: var(--brown2);}
.nu-u-bg-brown3 {background-color: var(--brown3);}
.nu-u-bg-brown4 {background-color: var(--brown4);}
.nu-u-bg-brown5 {background-color: var(--brown5);}
.nu-u-bg-brown6 {background-color: var(--brown6);}
.nu-u-bg-brown7 {background-color: var(--brown7);}
.nu-u-bg-brown8 {background-color: var(--brown8);}

.nu-u-bg-grey1 {background-color: var(--grey1);}
.nu-u-bg-grey2 {background-color: var(--grey2);}
.nu-u-bg-grey3 {background-color: var(--grey3);}
.nu-u-bg-grey4 {background-color: var(--grey4);}
.nu-u-bg-grey5 {background-color: var(--grey5);}
.nu-u-bg-grey6 {background-color: var(--grey6);}
.nu-u-bg-grey7 {background-color: var(--grey7);}
.nu-u-bg-grey8 {background-color: var(--grey8);}
.nu-u-bg-grey9 {background-color: var(--grey9);}
.nu-u-bg-grey10 {background-color: var(--grey10);}

.nu-u-text-red1 {color: var(--red1);}
.nu-u-text-red2 {color: var(--red2);}
.nu-u-text-red3 {color: var(--red3);}
.nu-u-text-red4 {color: var(--red4);}
.nu-u-text-red5 {color: var(--red5);}
.nu-u-text-red6 {color: var(--red6);}
.nu-u-text-red7 {color: var(--red7);}
.nu-u-text-red8 {color: var(--red8);}

.nu-u-text-orange1 {color: var(--orange1);}
.nu-u-text-orange2 {color: var(--orange2);}
.nu-u-text-orange3 {color: var(--orange3);}
.nu-u-text-orange4 {color: var(--orange4);}
.nu-u-text-orange5 {color: var(--orange5);}
.nu-u-text-orange6 {color: var(--orange6);}
.nu-u-text-orange7 {color: var(--orange7);}
.nu-u-text-orange8 {color: var(--orange8);}

.nu-u-text-yellow1 {color: var(--yellow1);}
.nu-u-text-yellow2 {color: var(--yellow2);}
.nu-u-text-yellow3 {color: var(--yellow3);}
.nu-u-text-yellow4 {color: var(--yellow4);}
.nu-u-text-yellow5 {color: var(--yellow5);}
.nu-u-text-yellow6 {color: var(--yellow6);}
.nu-u-text-yellow7 {color: var(--yellow7);}
.nu-u-text-yellow8 {color: var(--yellow8);}

.nu-u-text-green1 {color: var(--green1);}
.nu-u-text-green2 {color: var(--green2);}
.nu-u-text-green3 {color: var(--green3);}
.nu-u-text-green4 {color: var(--green4);}
.nu-u-text-green5 {color: var(--green5);}
.nu-u-text-green6 {color: var(--green6);}
.nu-u-text-green7 {color: var(--green7);}
.nu-u-text-green8 {color: var(--green8);}

.nu-u-text-mint1 {color: var(--mint1);}
.nu-u-text-mint2 {color: var(--mint2);}
.nu-u-text-mint3 {color: var(--mint3);}
.nu-u-text-mint4 {color: var(--mint4);}
.nu-u-text-mint5 {color: var(--mint5);}
.nu-u-text-mint6 {color: var(--mint6);}
.nu-u-text-mint7 {color: var(--mint7);}
.nu-u-text-mint8 {color: var(--mint8);}

.nu-u-text-teal1 {color: var(--teal1);}
.nu-u-text-teal2 {color: var(--teal2);}
.nu-u-text-teal3 {color: var(--teal3);}
.nu-u-text-teal4 {color: var(--teal4);}
.nu-u-text-teal5 {color: var(--teal5);}
.nu-u-text-teal6 {color: var(--teal6);}
.nu-u-text-teal7 {color: var(--teal7);}
.nu-u-text-teal8 {color: var(--teal8);}

.nu-u-text-cyan1 {color: var(--cyan1);}
.nu-u-text-cyan2 {color: var(--cyan2);}
.nu-u-text-cyan3 {color: var(--cyan3);}
.nu-u-text-cyan4 {color: var(--cyan4);}
.nu-u-text-cyan5 {color: var(--cyan5);}
.nu-u-text-cyan6 {color: var(--cyan6);}
.nu-u-text-cyan7 {color: var(--cyan7);}
.nu-u-text-cyan8 {color: var(--cyan8);}

.nu-u-text-blue1 {color: var(--blue1);}
.nu-u-text-blue2 {color: var(--blue2);}
.nu-u-text-blue3 {color: var(--blue3);}
.nu-u-text-blue4 {color: var(--blue4);}
.nu-u-text-blue5 {color: var(--blue5);}
.nu-u-text-blue6 {color: var(--blue6);}
.nu-u-text-blue7 {color: var(--blue7);}
.nu-u-text-blue8 {color: var(--blue8);}

.nu-u-text-indigo1 {color: var(--indigo1);}
.nu-u-text-indigo2 {color: var(--indigo2);}
.nu-u-text-indigo3 {color: var(--indigo3);}
.nu-u-text-indigo4 {color: var(--indigo4);}
.nu-u-text-indigo5 {color: var(--indigo5);}
.nu-u-text-indigo6 {color: var(--indigo6);}
.nu-u-text-indigo7 {color: var(--indigo7);}
.nu-u-text-indigo8 {color: var(--indigo8);}

.nu-u-text-purple1 {color: var(--purple1);}
.nu-u-text-purple2 {color: var(--purple2);}
.nu-u-text-purple3 {color: var(--purple3);}
.nu-u-text-purple4 {color: var(--purple4);}
.nu-u-text-purple5 {color: var(--purple5);}
.nu-u-text-purple6 {color: var(--purple6);}
.nu-u-text-purple7 {color: var(--purple7);}
.nu-u-text-purple8 {color: var(--purple8);}

.nu-u-text-pink1 {color: var(--pink1);}
.nu-u-text-pink2 {color: var(--pink2);}
.nu-u-text-pink3 {color: var(--pink3);}
.nu-u-text-pink4 {color: var(--pink4);}
.nu-u-text-pink5 {color: var(--pink5);}
.nu-u-text-pink6 {color: var(--pink6);}
.nu-u-text-pink7 {color: var(--pink7);}
.nu-u-text-pink8 {color: var(--pink8);}

.nu-u-text-brown1 {color: var(--brown1);}
.nu-u-text-brown2 {color: var(--brown2);}
.nu-u-text-brown3 {color: var(--brown3);}
.nu-u-text-brown4 {color: var(--brown4);}
.nu-u-text-brown5 {color: var(--brown5);}
.nu-u-text-brown6 {color: var(--brown6);}
.nu-u-text-brown7 {color: var(--brown7);}
.nu-u-text-brown8 {color: var(--brown8);}

.nu-u-text-grey1 {color: var(--grey1);}
.nu-u-text-grey2 {color: var(--grey2);}
.nu-u-text-grey3 {color: var(--grey3);}
.nu-u-text-grey4 {color: var(--grey4);}
.nu-u-text-grey5 {color: var(--grey5);}
.nu-u-text-grey6 {color: var(--grey6);}
.nu-u-text-grey7 {color: var(--grey7);}
.nu-u-text-grey8 {color: var(--grey8);}
.nu-u-text-grey9 {color: var(--grey9);}
.nu-u-text-grey10 {color: var(--grey10);}

[data-new-ui-theme="light--cold"], [data-new-ui-theme="dark--cold"] {
  .nu-u-text-cold1 {color: var(--cold1);}
  .nu-u-text-cold2 {color: var(--cold2);}
  .nu-u-text-cold3 {color: var(--cold3);}
  .nu-u-text-cold4 {color: var(--cold4);}
  .nu-u-text-cold5 {color: var(--cold5);}
  .nu-u-text-cold6 {color: var(--cold6);}
  .nu-u-text-cold7 {color: var(--cold7);}
  .nu-u-text-cold8 {color: var(--cold8);}
  .nu-u-text-cold9 {color: var(--cold9);}
  .nu-u-text-cold10 {color: var(--cold10);}
}

[data-new-ui-theme="light--warm"], [data-new-ui-theme="dark--warm"] {
  .nu-u-text-warm1 {color: var(--warm1);}
  .nu-u-text-warm2 {color: var(--warm2);}
  .nu-u-text-warm3 {color: var(--warm3);}
  .nu-u-text-warm4 {color: var(--warm4);}
  .nu-u-text-warm5 {color: var(--warm5);}
  .nu-u-text-warm6 {color: var(--warm6);}
  .nu-u-text-warm7 {color: var(--warm7);}
  .nu-u-text-warm8 {color: var(--warm8);}
  .nu-u-text-warm9 {color: var(--warm9);}
  .nu-u-text-warm10 {color: var(--warm10);}
}

.nu-u-bg {background-color: var(--background);}
.nu-u-bg-secondary {background-color: var(--background-secondary);}
.nu-u-bg-hover {background-color: var(--background-hover);}
.nu-u-bg-selected {background-color: var(--background-selected);}
.nu-u-bg-selected-hover {background-color: var(--background-selected-hover);}
.nu-u-bg-high-contrast {background-color: var(--background-high-contrast);}

.nu-u-bg-black {background-color: var(--black);}
.nu-u-bg-white {background-color: var(--white);}

/* Border */
.nu-u-b--muted {border-color: var(--border-muted);}
.nu-u-b {border-color: var(--border);}
.nu-u-b--strong {border-color: var(--border-strong);}
.nu-u-b--inked {border-color: var(--border-inked);}
.nu-u-b--inverse {border-color: var(--border-inverse);}
.nu-u-b--focus {border-color: var(--border-focus);}

/* Text */
.nu-u-text--primary {color: var(--text-primary);}
.nu-u-text--secondary {color: var(--text-secondary);}
.nu-u-text--secondary-alt {color: var(--text-secondary-alt);}
.nu-u-text--placeholder::placeholder, 
.nu-u-text--placeholder::-webkit-input-placeholder,
.nu-u-text--placeholder:-ms-input-placeholder {color: var(--text-placeholder);}
.nu-u-text--on-color {color: var(--text-on-color);}
.nu-u-text--error {color: var(--text-error);}
.nu-u-text--success {color: var(--text-success);}
.nu-u-text--inked {color: var(--text-inked);}

.nu-u-text-black {color: var(--black);}
.nu-u-text-white {color: var(--white);}

/* Icons */
.nu-u-icon--primary {color: var(--icon-primary);}
.nu-u-icon--secondary {color: var(--icon-secondary);}
.nu-u-icon--disabled {color: var(--icon-disabled);}
.nu-u-icon--on-color {color: var(--icon-on-color);}
.nu-u-icon--inked {color: var(--icon-inked);}

/* Links */
.nu-u-link {color: var(--link);}
.nu-u-link--hover {color: var(--link-hover);}
.nu-u-link--subtle {color: var(--link-subtle);}
.nu-u-link--active {color: var(--link-active);}

/* Support */
.nu-u-support--error {color: var(--support-error);}
.nu-u-support--warning {color: var(--support-warning);}
.nu-u-support--success {color: var(--support-success);}
.nu-u-support--info {color: var(--support-blue);}