
.bg-red1 {background-color: var(--red1);}
.bg-red2 {background-color: var(--red2);}
.bg-red3 {background-color: var(--red3);}
.bg-red4 {background-color: var(--red4);}
.bg-red5 {background-color: var(--red5);}
.bg-red6 {background-color: var(--red6);}
.bg-red7 {background-color: var(--red7);}
.bg-red8 {background-color: var(--red8);}

.bg-orange1 {background-color: var(--orange1);}
.bg-orange2 {background-color: var(--orange2);}
.bg-orange3 {background-color: var(--orange3);}
.bg-orange4 {background-color: var(--orange4);}
.bg-orange5 {background-color: var(--orange5);}
.bg-orange6 {background-color: var(--orange6);}
.bg-orange7 {background-color: var(--orange7);}
.bg-orange8 {background-color: var(--orange8);}

.bg-yellow1 {background-color: var(--yellow1);}
.bg-yellow2 {background-color: var(--yellow2);}
.bg-yellow3 {background-color: var(--yellow3);}
.bg-yellow4 {background-color: var(--yellow4);}
.bg-yellow5 {background-color: var(--yellow5);}
.bg-yellow6 {background-color: var(--yellow6);}
.bg-yellow7 {background-color: var(--yellow7);}
.bg-yellow8 {background-color: var(--yellow8);}

.bg-green1 {background-color: var(--green1);}
.bg-green2 {background-color: var(--green2);}
.bg-green3 {background-color: var(--green3);}
.bg-green4 {background-color: var(--green4);}
.bg-green5 {background-color: var(--green5);}
.bg-green6 {background-color: var(--green6);}
.bg-green7 {background-color: var(--green7);}
.bg-green8 {background-color: var(--green8);}

.bg-mint1 {background-color: var(--mint1);}
.bg-mint2 {background-color: var(--mint2);}
.bg-mint3 {background-color: var(--mint3);}
.bg-mint4 {background-color: var(--mint4);}
.bg-mint5 {background-color: var(--mint5);}
.bg-mint6 {background-color: var(--mint6);}
.bg-mint7 {background-color: var(--mint7);}
.bg-mint8 {background-color: var(--mint8);}

.bg-teal1 {background-color: var(--teal1);}
.bg-teal2 {background-color: var(--teal2);}
.bg-teal3 {background-color: var(--teal3);}
.bg-teal4 {background-color: var(--teal4);}
.bg-teal5 {background-color: var(--teal5);}
.bg-teal6 {background-color: var(--teal6);}
.bg-teal7 {background-color: var(--teal7);}
.bg-teal8 {background-color: var(--teal8);}

.bg-cyan1 {background-color: var(--cyan1);}
.bg-cyan2 {background-color: var(--cyan2);}
.bg-cyan3 {background-color: var(--cyan3);}
.bg-cyan4 {background-color: var(--cyan4);}
.bg-cyan5 {background-color: var(--cyan5);}
.bg-cyan6 {background-color: var(--cyan6);}
.bg-cyan7 {background-color: var(--cyan7);}
.bg-cyan8 {background-color: var(--cyan8);}

.bg-blue1 {background-color: var(--blue1);}
.bg-blue2 {background-color: var(--blue2);}
.bg-blue3 {background-color: var(--blue3);}
.bg-blue4 {background-color: var(--blue4);}
.bg-blue5 {background-color: var(--blue5);}
.bg-blue6 {background-color: var(--blue6);}
.bg-blue7 {background-color: var(--blue7);}
.bg-blue8 {background-color: var(--blue8);}

.bg-indigo1 {background-color: var(--indigo1);}
.bg-indigo2 {background-color: var(--indigo2);}
.bg-indigo3 {background-color: var(--indigo3);}
.bg-indigo4 {background-color: var(--indigo4);}
.bg-indigo5 {background-color: var(--indigo5);}
.bg-indigo6 {background-color: var(--indigo6);}
.bg-indigo7 {background-color: var(--indigo7);}
.bg-indigo8 {background-color: var(--indigo8);}

.bg-purple1 {background-color: var(--purple1);}
.bg-purple2 {background-color: var(--purple2);}
.bg-purple3 {background-color: var(--purple3);}
.bg-purple4 {background-color: var(--purple4);}
.bg-purple5 {background-color: var(--purple5);}
.bg-purple6 {background-color: var(--purple6);}
.bg-purple7 {background-color: var(--purple7);}
.bg-purple8 {background-color: var(--purple8);}

.bg-pink1 {background-color: var(--pink1);}
.bg-pink2 {background-color: var(--pink2);}
.bg-pink3 {background-color: var(--pink3);}
.bg-pink4 {background-color: var(--pink4);}
.bg-pink5 {background-color: var(--pink5);}
.bg-pink6 {background-color: var(--pink6);}
.bg-pink7 {background-color: var(--pink7);}
.bg-pink8 {background-color: var(--pink8);}

.bg-brown1 {background-color: var(--brown1);}
.bg-brown2 {background-color: var(--brown2);}
.bg-brown3 {background-color: var(--brown3);}
.bg-brown4 {background-color: var(--brown4);}
.bg-brown5 {background-color: var(--brown5);}
.bg-brown6 {background-color: var(--brown6);}
.bg-brown7 {background-color: var(--brown7);}
.bg-brown8 {background-color: var(--brown8);}

.bg-grey1 {background-color: var(--grey1);}
.bg-grey2 {background-color: var(--grey2);}
.bg-grey3 {background-color: var(--grey3);}
.bg-grey4 {background-color: var(--grey4);}
.bg-grey5 {background-color: var(--grey5);}
.bg-grey6 {background-color: var(--grey6);}
.bg-grey7 {background-color: var(--grey7);}
.bg-grey8 {background-color: var(--grey8);}
.bg-grey9 {background-color: var(--grey9);}
.bg-grey10 {background-color: var(--grey10);}

.text-red1 {color: var(--red1);}
.text-red2 {color: var(--red2);}
.text-red3 {color: var(--red3);}
.text-red4 {color: var(--red4);}
.text-red5 {color: var(--red5);}
.text-red6 {color: var(--red6);}
.text-red7 {color: var(--red7);}
.text-red8 {color: var(--red8);}

.text-orange1 {color: var(--orange1);}
.text-orange2 {color: var(--orange2);}
.text-orange3 {color: var(--orange3);}
.text-orange4 {color: var(--orange4);}
.text-orange5 {color: var(--orange5);}
.text-orange6 {color: var(--orange6);}
.text-orange7 {color: var(--orange7);}
.text-orange8 {color: var(--orange8);}

.text-yellow1 {color: var(--yellow1);}
.text-yellow2 {color: var(--yellow2);}
.text-yellow3 {color: var(--yellow3);}
.text-yellow4 {color: var(--yellow4);}
.text-yellow5 {color: var(--yellow5);}
.text-yellow6 {color: var(--yellow6);}
.text-yellow7 {color: var(--yellow7);}
.text-yellow8 {color: var(--yellow8);}

.text-green1 {color: var(--green1);}
.text-green2 {color: var(--green2);}
.text-green3 {color: var(--green3);}
.text-green4 {color: var(--green4);}
.text-green5 {color: var(--green5);}
.text-green6 {color: var(--green6);}
.text-green7 {color: var(--green7);}
.text-green8 {color: var(--green8);}

.text-mint1 {color: var(--mint1);}
.text-mint2 {color: var(--mint2);}
.text-mint3 {color: var(--mint3);}
.text-mint4 {color: var(--mint4);}
.text-mint5 {color: var(--mint5);}
.text-mint6 {color: var(--mint6);}
.text-mint7 {color: var(--mint7);}
.text-mint8 {color: var(--mint8);}

.text-teal1 {color: var(--teal1);}
.text-teal2 {color: var(--teal2);}
.text-teal3 {color: var(--teal3);}
.text-teal4 {color: var(--teal4);}
.text-teal5 {color: var(--teal5);}
.text-teal6 {color: var(--teal6);}
.text-teal7 {color: var(--teal7);}
.text-teal8 {color: var(--teal8);}

.text-cyan1 {color: var(--cyan1);}
.text-cyan2 {color: var(--cyan2);}
.text-cyan3 {color: var(--cyan3);}
.text-cyan4 {color: var(--cyan4);}
.text-cyan5 {color: var(--cyan5);}
.text-cyan6 {color: var(--cyan6);}
.text-cyan7 {color: var(--cyan7);}
.text-cyan8 {color: var(--cyan8);}

.text-blue1 {color: var(--blue1);}
.text-blue2 {color: var(--blue2);}
.text-blue3 {color: var(--blue3);}
.text-blue4 {color: var(--blue4);}
.text-blue5 {color: var(--blue5);}
.text-blue6 {color: var(--blue6);}
.text-blue7 {color: var(--blue7);}
.text-blue8 {color: var(--blue8);}

.text-indigo1 {color: var(--indigo1);}
.text-indigo2 {color: var(--indigo2);}
.text-indigo3 {color: var(--indigo3);}
.text-indigo4 {color: var(--indigo4);}
.text-indigo5 {color: var(--indigo5);}
.text-indigo6 {color: var(--indigo6);}
.text-indigo7 {color: var(--indigo7);}
.text-indigo8 {color: var(--indigo8);}

.text-purple1 {color: var(--purple1);}
.text-purple2 {color: var(--purple2);}
.text-purple3 {color: var(--purple3);}
.text-purple4 {color: var(--purple4);}
.text-purple5 {color: var(--purple5);}
.text-purple6 {color: var(--purple6);}
.text-purple7 {color: var(--purple7);}
.text-purple8 {color: var(--purple8);}

.text-pink1 {color: var(--pink1);}
.text-pink2 {color: var(--pink2);}
.text-pink3 {color: var(--pink3);}
.text-pink4 {color: var(--pink4);}
.text-pink5 {color: var(--pink5);}
.text-pink6 {color: var(--pink6);}
.text-pink7 {color: var(--pink7);}
.text-pink8 {color: var(--pink8);}

.text-brown1 {color: var(--brown1);}
.text-brown2 {color: var(--brown2);}
.text-brown3 {color: var(--brown3);}
.text-brown4 {color: var(--brown4);}
.text-brown5 {color: var(--brown5);}
.text-brown6 {color: var(--brown6);}
.text-brown7 {color: var(--brown7);}
.text-brown8 {color: var(--brown8);}

.text-grey1 {color: var(--grey1);}
.text-grey2 {color: var(--grey2);}
.text-grey3 {color: var(--grey3);}
.text-grey4 {color: var(--grey4);}
.text-grey5 {color: var(--grey5);}
.text-grey6 {color: var(--grey6);}
.text-grey7 {color: var(--grey7);}
.text-grey8 {color: var(--grey8);}
.text-grey9 {color: var(--grey9);}
.text-grey10 {color: var(--grey10);}